.expenses-filter {
    padding: 0 1rem;
    color: white;
}

.expenses-filter__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
}

.expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.expenses-filter select {
    font: inherit;
    font-weight: bold;
    padding: 0.5rem 3rem;
    border-radius: 6px;
}
